<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path123 === '/shop' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="main-header__item"><a class="<%= path123 === '/products' ? 'active' : '' %>" href="/products">Products</a></li>
            <li class="main-header__item"><a class="<%= path123 === '/cart' ? 'active' : '' %>" href="/cart">Cart</a></li>
            <li class="main-header__item"><a class="<%= path123 === '/orders' ? 'active' : '' %>" href="/orders">Orders</a></li>
            <li class="main-header__item"><a class="<%= path123 === '/admin/add-product' ? 'active' : '' %>" href="/admin123/add-product">Add Product</a></li>
            <li class="main-header__item"><a class="<%= path123 === '/admin/product-list' ? 'active' : '' %>" href="/admin123/product-list123">Admin Products</a></li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path123 === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path123 === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path123 === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path123 === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path123 === '/admin/add-product' ? 'active' : '' %>" href="/admin123/add-product">Add Product
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path123 === '/admin/products' ? 'active' : '' %>" href="/admin123/products">Admin Products
                </a>
            </li>
        </ul>
</nav>