<%- include('../includes123/head.ejs') %>
</head>

<body>
    <%- include('../includes123/navigation.ejs') %>

    <div style="margin: 1rem 1rem">
        <div style="margin: 1rem 0">
            <h2>Total Price: <%= cart.totalPrice %></h2>
            <a href="/clearCart" class="btn">Clear Cart</a>
        </div>
        <div>
            <form action="/create-order" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
    </div>

    <hr>

    <main>
        <% if (cart.items.length > 0) { %>
            <ul class="cart__item-list">
                <% cart.items.forEach(item => { %>
                    <li class="cart__item">
                        <h2>Product Name: <%= item.title %></h2>
                        <h2>Product ID: <%= item.productId %></h2>
                        <h2>Price: <%= item.price %></h2>
                        <h2>Quantity: <%= item.quantity %></h2>
                        <form action="/delete-product" method="post">
                            <input type="hidden" name="productId123" value="<%= item.productId %>">
                            <input type="hidden" name="productPrice123" value="<%= item.price %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Remove</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>No products in cart! Add one now!</h1>
            <h2>Total Price: 0</h2>
        <% } %>
    </main>

    <%- include('../includes123/end.ejs') %>