<%- include('../includes123/head.ejs') %>
    </head>

    <body>
        <%- include('../includes123/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else {%>
                <ul>
                    <% orders.forEach(i => { %>
                        <li>
                            <h1># <%= i._id %></h1>
                            <h2>Total Price: <%= i.totalPrice %></h2>
                            <ul>
                                <% i.products.forEach(j => { %>
                                    <li><%= j.product.title %> (<%= j.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes123/end.ejs') %>