<%- include('../includes123/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes123/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else {%>
                <ul class="orders">
                    <% orders.forEach(i => { %>
                        <li class="orders__item">
                            <h1># <%= i._id %></h1>
                            <h2>Total Price: <%= i.totalPrice %></h2>
                            <ul class="orders__products">
                                <% i.products.forEach(j => { %>
                                    <li class="orders__products-item">
                                        <%= j.product.title %> (<%= j.quantity %>)
                                    </li>
                                <% }); %>
                            </ul>
                            <a href="/orders/<%= i._id %>">Invoice</a>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes123/end.ejs') %>