<%- include('../includes123/head.ejs') %>
    </head>

    <body>
        <%- include('../includes123/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
            <%- include('../includes123/addToCart.ejs') %>
        </main>
        <%- include('../includes123/end.ejs') %>